<form action="/recipes" method="POST"> 
<div class="container">
  <label for="name">Recipe Name: </label> <input type="text" name="name" id="name"><br>
  <label for="title">Ingredeints </label><input type="text" name="ingredeints" id="ingredients"><br>
  <label for="cook time">Cook Time</label><input type="text" name="cook_time"  id="cook_time"><br>

  <button type="submit" id="submit">Submit</button>
</div>
</form>