<h1>Put in a new recipe!</h1>

<form method="POST" action='/recipes'>
<h2>Recipe Name:</h2>
<input type="text" value="Name" name="name">

<h2>Recipe Ingredients:</h2>
<input type="text" value="Ingredients" name="ingredients">

<h2>Recipe Cook Time:</h2>
<input type="text" value="Cook Time" name="cook_time">
<br>
<br>

<button type="submit" value="submit">Submit Recipe</submit>
</form>